
.Team1{

float: left;
border-right: 1px solid;


}
.Team2{

    float: right;
    
    
    }

    button{
        width:60%;
        top:30;
        padding: 50px;
        margin-left: auto;
        margin-right:auto;
        position: fixed;
        
    }